/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
button,
input,
select,
textarea,
a {
    color: #000;
    font-family: 'Open Sans', sans-serif;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

::-webkit-input-placeholder {color:#DBDBDB;}
::-moz-placeholder {color:#DBDBDB;}
:-moz-placeholder {color:#DBDBDB;}
:-ms-input-placeholder {color:#DBDBDB;}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #DCE0E5;
    margin: 0.2em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

a {
    color: inherit;
    text-decoration: none;
}
a u {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 0;
    text-decoration: none;
}
a:hover,
a:focus {
    opacity: .4;
}
a:focus,
a:hover,
a:active {
    outline: 0;
}
a:active {
    outline: 0;
}

u {
    text-decoration: none;
}

label {
    cursor: pointer;
}


body {
    font: 15px/22px 'Open Sans', sans-serif;
    font-weight: 600;
    background: #eee;
}
.wrap {
    width: 960px;
    margin: 0 auto;
}
.control {
    margin-top: 16px;
    padding: 16px 24px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 4px 24px rgba(0,0,0,.12);
}

[class*='col-'] {
    float: left;
    padding-right: 24px;
}

[class*='col-']:last-of-type {
    padding-right: 0px;
}

.grid {
    width: 100%;
    max-width: 1140px;
    min-width: 755px;
    margin: 0 auto;
    overflow: hidden;
}
.grid .grid {
    min-width: 100%;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

.grid-pad {
    padding: 20px 0 0px 20px;
}

.grid-pad > [class*='col-']:last-of-type {
    padding-right: 20px;
}

.col-1-1 {
    width: 100%;
}
.col-2-3, .col-8-12 {
    width: 66.66%;
}
.col-1-2, .col-6-12 {
    width: 50%;
}
.col-1-3, .col-4-12 {
    width: 33.33%;
}
.col-1-4, .col-3-12 {
    width: 25%;
}
.col-1-5 {
    width: 20%;
}
.col-1-6, .col-2-12 {
    width: 16.667%;
}
.col-1-7 {
    width: 14.28%;
}
.col-1-8 {
    width: 12.5%;
}
.col-1-9 {
    width: 11.1%;
}
.col-1-10 {
    width: 10%;
}
.col-1-11 {
    width: 9.09%;
}
.col-1-12 {
    width: 8.33%
}
.col-11-12 {
    width: 91.66%
}
.col-10-12 {
    width: 83.333%;
}
.col-9-12 {
    width: 75%;
}
.col-5-12 {
    width: 41.66%;
}
.col-7-12 {
    width: 58.33%
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1140px) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.mute {
    opacity: .5;
}
.mute2x {
    color: #DBDBDB;
}
.red {
    color: #f92600;
}
.green {
    color: #149020;
}
.blue {
    color: #0089bb;
}
.orange {
    color: #e68200;
}

.center {
    text-align: center;
}

.nowrap {
    white-space: nowrap;
}


.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}